# Types of Operators
- Arithmetic Operators
- Comparision (Relationl) Operators
- Assignment Operators
- Logical Operators
- Bitwise Operators
- Membership Operators
- Identity Operators

# Arithmetic Operators
+ addition
- substraction
* Multiplication
/ Division
// Float Division
% Modulus
** Power

In [3]:
2+5

7

In [4]:
2.3+5.1

7.3999999999999995

In [5]:
2.0+5.0

7.0

In [6]:
'A'+'B'

'AB'

In [8]:
['hamza','junaid']+['Abid','Konain']

['hamza', 'junaid', 'Abid', 'Konain']

In [9]:
('hamza','junaid')+('Abid','Konain')

('hamza', 'junaid', 'Abid', 'Konain')

In [10]:
{'hamza','junaid'}+{'Abid','Konain'}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [11]:
{1:'hamza',2:'junaid'}+{1:'Abid',2:'Konain'}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [12]:
2-3

-1

In [13]:
2.3-3.9

-1.6

In [14]:
{5,6,7,8,9}-{1,2,3,4,5}

{6, 7, 8, 9}

In [15]:
[4,5]-[2,3]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [16]:
2*4

8

In [17]:
2.3*3.8

8.739999999999998

In [18]:
'A'*3

'AAA'

In [19]:
["A"]*3

['A', 'A', 'A']

In [20]:
("a")*2

'aa'

In [21]:
11/3

3.6666666666666665

In [24]:
print(5+2+3+7+9)
5+\
2+\3

SyntaxError: unexpected character after line continuation character (<ipython-input-24-33fb48c5b27b>, line 3)

In [25]:
'A'/'b'

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [26]:
11//3

3

In [27]:
11%3

2

In [28]:
2**2

4

In [29]:
2**3

8

In [30]:
"a"**2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

# print('Comparision (Rational) Operators')

==
>
<
>=
<=
!=,<>

In [35]:
2==2

True

In [36]:
'A'=='a'

False

In [37]:
'a'=='a'

True

In [38]:
5>3

True

In [39]:
'a'>'b'

False

In [40]:
'a'<'b'

True

In [41]:
5>5

False

In [43]:
5>=5 #5<=5

True

A=65 -> Z=90
a=97 -> z=90
0=48 -> 9=57

In [45]:
ord("A")

65

In [47]:
chr(65)

'A'

In [48]:
'Qasim'!='qasim'

True

# Assignment Operators

=
+=
-=
/=
*=
/=
//=
**=
%=

In [51]:
a=5
a=6
a=7
print(a)

7

In [54]:
a =1 #1
a+=2 #1+2=3
a+=3 #3+3=6
a+=4 #6+4=10
print(a)

10

In [56]:
#same as above
a=1
a=a+2
a=a+3
a=a+4
print(a)

10

In [57]:
a=100
a-=5
a-=5
a-=10
print(a)

80

In [59]:
a=21
a%=5
print(a)

1

In [60]:
a=1
a**=2
a**=3
print(a)

1

In [61]:
a="a"
a+="b"
print(a)

ab

In [62]:
a=[1,2,3]
a+=[5,6]
print(a)

[1, 2, 3, 5, 6]

# Logial Operators

and &
or !
not <>,!=

In [63]:
True and True and True

True

In [64]:
True and False and True

False

In [73]:
user = input("Username:")
password = input("Password:")
user=="Admin" and password=="123"

Username:admin
Password:123

False

In [76]:
user = input("Username:")
password = input("Password:")
(user=="Admin") & (password=="123")

Username:Admin
Password:123

True

In [77]:
True or True or False

True

In [79]:
False or False or False or True

True

In [80]:
True & True & True

True

In [81]:
True & False & True

False

In [82]:
True | False | True

True

In [83]:
False | False | False | False

False

In [1]:
username = input('Username:')
password = input("Password:")
(username=='Qasim' or username=='Ali' or username=='Hamza') and (password=="123")

Username:Qasim
Password:123

True

In [2]:
user="Ali"
password="123"
not (user=="Ali" and password=="123")

False

In [3]:
not(False)

True

# BitWise Operators

8,   7,   6,   5,   4,   3,   2,   1,   0
2,   2,   2,   2,   2,   2,   2,   2,   2
=========================================
256,128,  64,  32,  16,  8,   4,   2,   1

Right side
11001
1=1
0=0
0=0
1=8
1=16
25

Right side
1010101
1=1
0=0
1=4
0=0
1=16
0=0
1=64
85

Decimal to binary
28=11100
29=11101
35=100011

& and
11100
11101
------
11100

In [5]:
29 & 28

28

| or
11100
11101
-----
11101

In [6]:
28 | 29

29

^
11100
11101
------
00001

In [8]:
name=["Ali","Hamza","Qasim"]
"Kashif" in name

False

In [12]:
name= input("text")
"Pakistan" in name

textlovePakisatan

False

In [13]:
name= input("text")
"Pakistan" in name

textilobepakistan

False

In [15]:
name= input("text")
"Pakistan" in name

textPakistan

True

In [16]:
user =input()
user=user.split()
user

hahaha

['hahaha']

# Identity Operators

In [17]:
a='5'
b=5
c=a
print(a is b)
print(a is c)

False
True

In [18]:
print(id(a))
print(id(b))
print(id(c))

140010037889488
94755067831456
140010037889488

In [19]:
id(a)==id(c)

True

# Control Flow

if esle elif

if logic:
    value_if_True
else:
    value_if_False

In [21]:
if True:
    print("Pakistan")
else:
    print("Zindabad")

Pakistan

In [24]:
user=input("User:")
password=input("Pass:")
if (user=="Ali" or user=="Hamza") and password=="123":
    print("Valid User!")
else:
    print("Invalid User!")

User:Ali
Pass:123
Valid User!

In [27]:
user=input("User:")
password=input("Pass:")
if (user in ["Ali","Hamza"]) and password=="123":
    print("Valid User!")
else:
    print("Invalid User!")

User:Ali
Pass:123
Valid User!