In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [3]:
5 + 8 # Operation
#Operators
    # +, -, /, *, %, ** 
    # =, +=, -=, /=, *=, %=
    # ==, >, <, >=, <=
# 5, 8 Operands

13

In [4]:
#PEMDAS
5+7-8*(2/2)+200
#5+7-8*1+200
#5+7-8+200
#204

204.0

In [7]:
a=8
b=9
a=b
print(a)
print(b)
print(id(b))
print(id(b))

9
9
94544337937696
94544337937696

In [8]:
a=20.8
type(a)

float

In [9]:
a=True
type(a)

bool

In [10]:
a="1"
type(a)

str

In [11]:
'1' + '1'

'11'

In [12]:
int ("1")+int("1")

2

In [14]:
a="Pakistan"
a*2

'PakistanPakistan'

In [21]:
names=["Ali","Hamza","Junaid",200]
print(type(names))
print(names)
print(names[0])

<class 'list'>
['Ali', 'Hamza', 'Junaid', 200]
Ali

In [22]:
names=("Ali","Hamza","Junaid",200)
print(type(names))
print(names)
print(names[0])

<class 'tuple'>
('Ali', 'Hamza', 'Junaid', 200)
Ali

In [25]:
names={"Ali","Hamza","Junaid",200,"hamza"}
print(type(names))
print(names[0])
print(names)

<class 'set'>

TypeError: 'set' object is not subscriptable

In [26]:
names={"Ali","Hamza","Junaid",200,"hamza"}
print(type(names))
names=list(names)
print(names[0])
print(names)

<class 'set'>
Hamza
['Hamza', 200, 'hamza', 'Ali', 'Junaid']

In [32]:
data={
    'name': "Muhammad Qaim",
    'fname':"Muhammad Aslam",
    5:"Pakistan",
    'name':"pak",
    ['a']:True
    
}
data['name']

TypeError: unhashable type: 'list'

In [36]:
data={
    'name': "Muhammad Qaim",
    'fname':"Muhammad Aslam",
    5:"Pakistan",
    'name':"pak",
    'a':[True,'pakistan',20,3.0]
    
}
data['a']

[True, 'pakistan', 20, 3.0]

In [38]:
a="Muhammad Qasim"
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [39]:
a="MuHamMaD QaSim"
print(a.upper())
print(a)

MUHAMMAD QASIM
MuHamMaD QaSim

In [40]:
a="MuHamMaD QaSim"
a= a.upper()
print(a)

MUHAMMAD QASIM

In [41]:
a="MuHamMaD QaSim"
a= a.lower()
print(a)

muhammad qasim

In [42]:
a="MuHamMaD QaSim"
a= a.title()
print(a)

Muhammad Qasim

In [48]:
a="MuHamMaD QaSim"
print(a.capitalize())
print(a)

Muhammad qasim
MuHamMaD QaSim

In [50]:
a="           Muahnsm    qjhajs   "
print(len(a))

31

In [51]:
a="           Muahnsm    qjhajs   "
print(len(a))
print(a.lstrip())
print(len(a.lstrip()))

31
Muahnsm    qjhajs
20

In [52]:
a="           Muahnsm    qjhajs   "
print(len(a))
print(a.rstrip())
print(len(a.rstrip()))

31
           Muahnsm    qjhajs
28

In [53]:
a="           Muahnsm    qjhajs   "
print(len(a))
print(a.strip())
print(len(a.strip()))

31
Muahnsm    qjhajs
17

In [55]:
a="           Muahnsm    qjhajs   ".split()
a

['Muahnsm', 'qjhajs']

In [59]:
b="     muh        jank   ".split()
" ".join(b)

'muh jank'

In [60]:
a="we are pakistan we love our country!"
a

'we are pakistan we love our country!'

In [64]:
#list[start:end:step]
#tuple[start:end:step]
#string[start:end:step]
print(a)
print(a[::])
print(a[::-1])
print(a[7:15:])

we are pakistan we love our country!
we are pakistan we love our country!
!yrtnuoc ruo evol ew natsikap era ew
pakistan

In [65]:
print(a)
print(a.index("pakistan"))

we are pakistan we love our country!
7

In [66]:
a[a.index("pakistan"):15]

'pakistan'

In [67]:
str.isnumeric('5')

True

In [68]:
str.isnumeric('5A')

False

In [70]:
a="lkjhhge3e4567ijhgf-=-pojhg;oi]\.,gf"
"".join([i for i in a if str.isnumeric(i)])

'34567'

In [71]:
a="34567ujhgghnm,l;[p;l.,jt654]"
"".join([i for i in a if str.isnumeric(i)])

'34567654'

In [73]:
card="""
Bahria Uni Islamabad
name:Qasim
Fath Name: Aslam
program: PIAIC
"""
print(card)

Bahria Uni Islamabad
name:Qasim
Fath Name: Aslam
program: PIAIC

In [77]:
name="hahaha"
fname="aslam"
program="PIAIC"
score=100
card="""
Bahria Uni Islamabad
name:%s
Fath Name:%s
program:%s
score:%d
"""
print(card%(name,fname,program,score))

Bahria Uni Islamabad
name:hahaha
Fath Name:aslam
program:PIAIC
score:100

In [79]:
name="hahaha"
fname="aslam"
program="PIAIC"
score=100
card=f"""
Bahria Uni Islamabad
name:{name}
Fath Name:{fname}
program:{program}
score:{score}
"""
print(card)

Bahria Uni Islamabad
name:hahaha
Fath Name:aslam
program:PIAIC
score:100

In [81]:
name="hahaha"
fname="aslam"
program="PIAIC"
score=100
card="""
Bahria Uni Islamabad
name:{}
Fath Name:{}
program:{}
score:{}
"""
print(card.format(name,fname,program,score))

Bahria Uni Islamabad
name:hahaha
Fath Name:aslam
program:PIAIC
score:100

In [82]:
name="hahaha"
fname="aslam"
program="PIAIC"
score=100
card="""
Bahria Uni Islamabad
name:{a}
Fath Name:{b}
program:{c}
score:{d}
"""
print(card.format(a=name,b=fname,c=program,d=score))

Bahria Uni Islamabad
name:hahaha
Fath Name:aslam
program:PIAIC
score:100

In [83]:
name="hahaha"
fname="aslam"
program="PIAIC"
score=100
card="""
Bahria Uni Islamabad
name:{0}
Fath Name:{1}
program:{2}
score:{3}
"""
print(card.format(name,fname,program,score))

Bahria Uni Islamabad
name:hahaha
Fath Name:aslam
program:PIAIC
score:100

In [84]:
"1"+"1"

'11'

In [90]:
name="hahaha"
fname="aslam"
program="PIAIC"
score=100
print("Bahria\nStudent Name:"+ name+"\nFath Name:"+ fname+"\nProgram:" +program +"\nScore"+ str(score))

Bahria
Student Name:hahaha
Fath Name:aslam
Program:PIAIC
Score100